*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-1{
    width: 100%;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: right;
}
.header-1-text1{
    font-size: 12px;
    padding-top: 7px;
    padding-right: 70px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.header-2{
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
}
.header-2-left{
    width: 33.33%;
    height: 60px;
    background: black;
    float: left;
    display: flex;
}
.header-2-center{
    width: 33.33%;
    height: 60px;
    background: black;
    float: left;
    display: flex;
    justify-content: center;
}
.header-2-right{
    width: 33.33%;
    height: 60px;
    background: black;
    float: left;
    display: flex;
    justify-content: center;
}
.header-2-left-text1{
    text-decoration: none;
    font-size:x-large;
    padding-left: 65px;
    padding-top: 15px;
    font-family: fantasy;
    color: #fff;
}
.header-2-center-text1{
    color: #fff;
    text-decoration: none;
    display: flex;
    padding-top: 23px;
    font-family: sans-serif;
    font-size: 12px;
    padding-right: 45px;
}
.header-2-center-text1:hover{
    color: rgb(222, 215, 215);
}
.header-2-right-searchbar{
    display: flex;
    margin-top: 19px;
    border-bottom: #fff solid 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    margin-bottom: 17px;
    margin-left: 195px;
    /* margin-right: 66px; */
}
.header-2-right-searchicon{
    width: 20px;
    height: 20px;
    padding-top: 20px;
}
.main-body-1{
    width: 100%;
    height: 650px;
    background: red;
}
.main-body-1-pic{
    width: 100%;
    height: 650px;
    background: url("Medias/G-Shock.jpg") center center/cover;
}
.main-body-2{
    width: 100%;
    height: 200px;
    background: #fff;
    display: flex;
    justify-content: center;
}
.main-body-2-heading{
    padding-top: 100px;
    font-family: sans-serif;
}
.main-body-3{
    width: 100%;
    height: 430px;
    background: #fff;
    display: flex;
    justify-content: center;
}
.main-body-3-sub1{
    width: 90%;
    height: 425px;
    background: #fff;
    display: flex;
    justify-content:space-around;
    border-bottom: 2px solid #d7d3d3;
    gap: 10px;
}
.main-body-3-sub2{
    width: 20%;
    height: 401px;
    background: rgb(247, 248, 249);
    cursor: pointer;
    border: 1px solid transparent;
}
.main-body-3-sub2:hover{
    border: 1px solid black;
}
.main-body-3-pic{
    width: 250px;
    margin-left: 10px;
    margin-top: 20px;
}
.main-body-3-sub2-sub1-textbox{
    width: 100%;
    height: 110px;
    background: #fff;
    margin-top: 15px;
}
.text-gshock{
    font-family: system-ui;
    font-weight: inherit;
    padding-top: 5px;
    padding-left: 10px;
}
.text-modelname{
    padding-top: 5px;
    padding-left: 10px;
    font-family: system-ui;
    font-weight: 600;
}
.text-mrp{
    padding-left: 10px;
    padding-top: 10px;
    font-family: system-ui;
    font-weight: lighter;
}
.text-price{
    padding-left: 10px;
    padding-top: 3px;
    font-family: system-ui;
    font-weight: 400;
}
.main-body-4{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display:flex ;
    justify-content: center;
}
.main-body-4-sub1{
    width: 25%;
    height: 50px;
    background: black;
    margin-top: 28px;
}
.main-body-4-button{
    padding: 20px;
    background: black;
    width: 300px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    font-family: system-ui;
}
.main-body-4-button:hover{
    opacity: .7;
}
.main-body-5{
    width: 100%;
    height: 500px;
    background: #fff;
    display: flex;
    justify-content:center ;
}
.main-body-5-sub1{
    width: 90%;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.main-body-5-heading{
    width: 100%;
    height: 50px;
}
.main-body-5-sub1-heading{
    font-family: system-ui;

}
.main-body-5-sub2{
    width: 20%;
    height: 350px;
    background-color: #fff;
    margin-top: 30px;
}

.main-body-5-sub2-pic{
    width: 100%;
}
.main-body-5-sub2-model{
    font-family: system-ui;
    font-weight: inherit;
    padding-left: 10px;
    padding-top: 5px;
    font-size: medium;
}
.main-body-5-sub2-desc{
    font-family: system-ui;
    font-weight: inherit;
    padding-left: 10px;
    padding-top: 10px;
    font-size: small;
}
.heading{
    height: 50px;
    width: 100%;
    background: #fff;
    padding-left: 80px;
}
.footer{
    width: 100%;
    height: 280px;
    background: black;
    display: flex;
    justify-content: center;
}
.footer-sub{
    width: 70%;
    height: 280px;
    background: black;
}
.footer-table{
    font-family: system-ui;
    color: #fff;
    font-weight: inherit;

}
.table-row{
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.table-padding{
    padding-bottom: 20px;
    color: rgb(179, 176, 176);
}.footer-sub2{
    width: 100%;
    height: 85px;
    background: black;
}
.footer-sub2-sub1{
    margin-left: 85px;
    width: 150px;
    height: 30px;
    background: black;
}
.medias{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.footer-sub2-sub2{
    width: 450px;
    height: 40px;
    background: black;
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
}
.footer-text1{
    padding-top: 10px;
    font-family: system-ui;
    color: #fff;
    font-weight: inherit;
}
.footer-end{
    width: 450px;
    height: 40px;
}
.footer-end-text{
    font-family: system-ui;
    color: #fff;
    font-weight: inherit;
    font-size: x-small;
    padding-left: 105px;
}
